<div class="checklist-detail-container">

   

    <h2>Detail Checklist</h2>

    <div ng-if="checklist">
        <h3>{{ checklist.name }}</h3>

        <div ng-controller="ChecklistDetailController">
            <form>
                <input type="text" ng-model="newItemText" placeholder="Tambah item baru..." required />
                <button type="button" ng-click="addItem()">Tambah</button>
            </form>
   

         <ul>
            <li ng-repeat="item in items">
                <input type="checkbox" ng-model="item.selected" ng-change="updateSelectedItems()" />
                <span ng-class="{ done: item.completed }">{{ item.name }}</span>
                <button ng-click="renameItem(item)">Ubah</button>
                <button ng-click="deleteItem(item)">Hapus</button>
            </li>
        </ul>

            <div ng-if="selectedItems.length > 0">
                <button ng-click="deleteSelectedItems()">Hapus yang Dipilih</button>
            </div>
        </div>
     </div>
    

    <div ng-if="error">
        <p>{{ error }}</p>
    </div>

     <button ng-click="goBack()">Kembali ke Daftar Checklist</button>
</div>
