<div class="checklist-detail">
    <h3>{{ checklist.name }}</h3>

    <form ng-submit="addItem()">
        <input type="text" ng-model="newItem" placeholder="Tambah item baru" required>
        <button type="submit">Tambah</button>
    </form>

    <ul>
        <li ng-repeat="item in checklist.items">
            <input type="checkbox" ng-model="item.completed" ng-change="toggleStatus(item)">
            <span ng-class="{done: item.completed}">{{ item.text }}</span>
            <button ng-click="editItem(item)">Ubah</button>
            <button ng-click="deleteItem(item)">Hapus</button>
        </li>
    </ul>
</div>
