<div class="checklist-detail-container">

   

    <h2>Detail Checklist</h2>

    <div ng-if="checklist">
        <h3>{{ checklist.name }}</h3>
        <p>{{ checklist.description || 'Tidak ada deskripsi.' }}</p>

        <ul>
            <li ng-repeat="item in items">
                <input type="checkbox" ng-model="item.completed" ng-change="toggleStatus(item)" />
                <span ng-class="{ done: item.completed }">{{ item.text }}</span>
                <button ng-click="renameItem(item)">Ubah</button>
                <button ng-click="deleteItem(item)">Hapus</button>
            </li>
        </ul>
    </div>

    <div ng-if="error">
        <p>{{ error }}</p>
    </div>

     <button ng-click="goBack()">Kembali ke Daftar Checklist</button>
</div>
