<div class="todo-container">
    <h2>Checklist Saya</h2>

    <form ng-submit="addChecklist()">
        <input type="text" ng-model="newChecklistName" placeholder="Nama checklist baru" required>
        <button type="submit">Tambah</button>
    </form>

    <p ng-if="loading">Memuat data...</p>
    <p ng-if="error" class="error">{{ error }}</p>

    <div ng-if="selectedChecklists.length > 0">
        <button ng-click="deleteSelectedChecklists()">Hapus Checklist Terpilih ({{ selectedChecklists.length }})</button>
    </div>

    <ul>
        <li ng-repeat="checklist in checklists">
            <label>
                <input type="checkbox" ng-model="checklist.selected" ng-change="updateSelection()"> 
                <a href="#!/checklist/{{ checklist.id }}">{{ checklist.name }}</a>
            </label>
            <button ng-click="deleteChecklist(checklist.id)">Hapus</button>
        </li>
    </ul>
</div>
